.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social__network {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 30px;
    padding: 0 30px;
    justify-content: space-between;
}
.social__network a {
    background-color: brown;
}

.social__ig {
    scale: .4;
}