.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social__network {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.social__network a {
    background-color: brown;
}

.social__ig {
    width: 30%;
}
.painles__button {
    background-color: black;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
    font-family: 'Cabin', sans-serif;
	font-size: 1em;
	cursor: pointer;
}